---
const {
    image = "/symbol_dark.png",
    href,
    title,
    width = 128,
    height = 128,
} = Astro.props;
---

<article class="rounded-lg w-20">
    <a href={href} class="text-center">
        <img
            src={image}
            alt={title}
            width={width}
            height={height}
            class="w-[100%] min-h-20 transform transition-transform object-contain hover:scale-110 p-3"
        />
        <h3
            class="font-semibold text-xs whitespace-nowrap overflow-hidden text-ellipsis"
        >
            {title}
        </h3>
    </a>
</article>
